$orange: #ff7900;

body {
    background-color: $orange;
}

.header {
    top: 0;
    text-transform: uppercase;
}

.row.body {
    padding-top: 70px;
}

.bold {
    font-weight: bold;
}

.logo {
    filter: brightness(10);
}